html,body{
  font-family: Montserrat,sans-serif;
  background: #acacac;
}
#nav{
.uk-navbar-toggle{
  float:left;
}
  .arrow{
    padding-left:10px;
  }
  .nav-enlarge{
    border-left:1px solid #c3c3c3;
    border-right:1px solid #c3c3c3;
    i{
      padding:0 5px;
      color:#e28327;
    }
   font-weight: lighter;
    font-family: Montserrat,sans-serif;
  }
  .icon-space{
    i{
      padding-right:8px;
     &:nth-last-child(1){
color:#2d7091;
     }
    }
  }
  border-bottom:2px solid #818181;
}