html,body{
  font-family: Montserrat,sans-serif;
  background: #acacac;
}

#nav{
  z-index: 9999;
.uk-navbar-toggle{
  float:left;
}
  .arrow{
    padding-left:10px;
    padding-right:10px;
  }
  .nav-enlarge{
    border-left:1px solid #c3c3c3;
    border-right:1px solid #c3c3c3;
    cursor:pointer;
    i{
      padding:0 5px;
      color:#e28327;
    }
   font-weight: lighter;
    font-family: Montserrat,sans-serif;
  }
  .icon-space{
    i{
      padding-right:8px;
     &:nth-last-child(1){
color:#2d7091;
     }
    }
  }
  border-bottom:2px solid #818181;
}
#offcanvas-1{
  .space{
    padding-right:18px;
  }

}
#social-media-grid{
z-index: 999;
  padding:5% 4%;
  box-sizing: border-box;
  .uk-grid{
    span{
      font-size: 30px;

    }
    .comments-span-number{
      font-size: 30px;
      color:#fff;
      font-weight: lighter;
    }
    .comments{
height:50px;
      border-radius:4px;
background: #FF5722;
      box-shadow: rgba(137, 137, 137, 0.87) 0px 3px 0px 0px ;
    }
    .tweet{
      height:50px;
      border-radius:4px;
      box-shadow: rgba(137, 137, 137, 0.87) 0px 3px 0px 0px ;


      background: #20A8BE;
    }
    .likes{
      height:50px;
background: #C5E1A5;
      border-radius:4px;
      box-shadow: rgba(137, 137, 137, 0.87) 0px 3px 0px 0px ;

    }
    .github{
      height:50px;
      border-radius:4px;
      box-shadow: rgba(137, 137, 137, 0.87) 0px 3px 0px 0px ;

      background:#BA68C8 ;

    }
  }

}
#analytics{
  padding:1% 4%;
  box-sizing: border-box;
  .uk-panel-box{
    height:400px;
    box-shadow: rgba(137, 137, 137, 0.87) 0px 3px 3px 3px ;
.posts{
  background: #f1f1f1;


}
    .traffic{
      background: #f1f1f1;

    }
  }
}
#post-form{
  .shadow{
    box-shadow: rgba(137, 137, 137, 0.87) 0px 3px 0px 0px ;
  }
  .bg-color{
    background: #fff1a0;
    border-bottom:3px dashed #ACACAC;
  }
  padding:1% 4%;
  box-sizing: border-box;
  input[type=text]{
    width:100%;
    font-size: 20px;
    height:35px;
    border:none;
    border-bottom:1px solid #d1d1d1;
    background: transparent;
  }
  textarea{
    font-size: 20px;
    border:none;
    border-bottom:1px solid #d1d1d1;
    background: transparent;
    resize: none;
    width:100%;
  }
  .select{
    float:right;
  }
  input[type=submit]{
    box-shadow: rgba(191, 191, 191, 0.87) 0px 2px 0px 0px ;
  }
}
#footer{
  margin-top:5%;
  padding:3% 0;
  background: #fff;
  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    h3{
      color:#ACACAC;
    }
    p{
      color:#ACACAC;
    }
  }
}